INTERFACE/laravel/.phpunit.cache
INTERFACE/laravel/node_modules
INTERFACE/laravel/public/build
INTERFACE/laravel/public/hot
INTERFACE/laravel/public/storage
INTERFACE/laravel/storage/*.key
INTERFACE/laravel/storage/pail
INTERFACE/laravel/.env
INTERFACE/laravel/.env.backup
INTERFACE/laravel/.env.production
INTERFACE/laravel/.phpactor.json
INTERFACE/laravel/.phpunit.result.cache
INTERFACE/laravel/Homestead.json
INTERFACE/laravel/Homestead.yaml
INTERFACE/laravel/npm-debug.log
INTERFACE/laravel/yarn-error.log
INTERFACE/laravel/auth.json
INTERFACE/laravel/.fleet
INTERFACE/laravel/.idea
INTERFACE/laravel/.nova
INTERFACE/laravel/.vscode
INTERFACE/laravel/.zed
INTERFACE/laravel/vendor/
